name: "build"

on:
  push:
    branches:
      - master
      - main
  pull_request:

env:
  PROD_REGISTRY: "us-docker.pkg.dev/grafanalabs-global/docker-graphite-mt-prod"

jobs:
  build-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Generate docker tag and commit SHA
        run: |
          bash ./graphite/docker-tag.sh
          DOCKER_TAG=$(cat .docker_tag)
          echo "DOCKER_TAG=${DOCKER_TAG}" >> $GITHUB_ENV
          echo "Docker tag: $DOCKER_TAG"

      - name: Build image
        run: make build

      - name: Test image
        run: bash graphite/test.sh

      - name: Push image
        uses: grafana/shared-workflows/actions/push-to-gar-docker@524cae7d26b8ed09a35a1216e280371726bc5289 # push-to-gar-docker/v0.7.1
        with:
          push: ${{ github.ref_name == 'master' }}
          tags: |-
            ${{ env.DOCKER_TAG }}
            type=raw,value=latest,enable=${{ github.ref_name == 'master' }}
          image_name: "graphite-mt"
          context: "."
          file: "./Dockerfile"
          environment: "prod"
